# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

psmnext/accounts/               @deepeshgarg007 @ruthra-kumar
psmnext/assets/                 @khushi8112 @deepeshgarg007
psmnext/regional                @deepeshgarg007 @ruthra-kumar
psmnext/selling                 @deepeshgarg007 @ruthra-kumar
psmnext/support/                @deepeshgarg007
pos*                            

psmnext/buying/                 @rohitwaghchaure
psmnext/maintenance/            @rohitwaghchaure
psmnext/manufacturing/          @rohitwaghchaure
psmnext/quality_management/     @rohitwaghchaure
psmnext/stock/                  @rohitwaghchaure
psmnext/subcontracting          @rohitwaghchaure

psmnext/controllers/            @deepeshgarg007 @rohitwaghchaure
psmnext/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang
